<template name="dashboard_layout">
    {{> navbar}}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
        </div>

        <div class="col-md-9">
            <h1 class="page-header">Dashboard</h1>
            {{> flashMessages}}
            <div class="row marketing">
                <div class="col-xs-6 col-sm-3 placeholder">
                    {{> yield}}
             </div>
            </div>

        </div>
    </div>
</div>
    <footer class="footer">
        <p>&copy; 2016</p>
    </footer>
</template>