<template name="navbar">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">FAQ</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!--<ul class="right">
                <li class="active"><a href="#">Right</a></li>
                <li class="has-dropdown">
                    <a href="#">Right down</a>
                    <ul class="dropdown">
                        <li><a href="#">First</a></li>
                        <li class="active"><a href="#">Active Link</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="left">
                <li><a href="#">Left Nav</a></li>
            </ul>-->
        </section>
    </nav>
</template>