<template name="category_products">
    {{# each category_products}}
        <div class="row product-row">
            <div class="col-md-2">
                <img class="full" src="{{image}}">
            </div>
            <div class="col-md-10">
                <h4>{{name}}</h4>
                <p>Average Rating: ***** </p>
                <p>{{truncateText description 150}}</p>
                <a href="{{pathFor 'product'}}" class="btn btn-default">Read Reviews</a>
                {{#if currentUser}}
                <a href="{{pathFor 'new_review'}}" class="btn btn-primary">Add Review</a>
                {{/if}}
            </div>
        </div>
    {{else}}
        <p>There are no products with this category</p>
    {{/each}}
</template>